layout {

    focus-ring {
        active-color   "#4ed8e9"
        inactive-color "#0e141c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#4ed8e9"
        inactive-color "#0e141c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4ed8e9"
        inactive-color "#004f57"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#4ed8e980"
    }
}

recent-windows {
    highlight {
        active-color "#4ed8e9"
        urgent-color "#ffb4ab"
    }
}
